@import '../../theme/theme.scss';

.select-box {
  position: relative;
  display: block;
  width: 150px;
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
  font-size: 14px;
  @include themify() {
    color: themed('secondaryColor');
  }
}
.select-box-current {
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 0px; 
  line-height: 1em;
}
.select-box-current:focus + .select-box-list {
  opacity: 1;
  -webkit-animation-name: none;
	animation-name: none;
}
.select-box-current:focus + .select-box-list .select-box-option {
  cursor: pointer;
}
.select-box-current:focus .select-box-icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}
.select-box-icon {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.H {
  display: flex;
}
.select-box-input {
  display: none;
}
.select-box-input:checked + .select-box-input-text {
  display: block;
}
.select-box-input-text {
  display: none;
  margin: 0;
  padding: 5px;
}
.select-box-list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  max-height: 350px;
	overflow: auto;
	border-radius: 2px;
  background-color: #fff;
  margin-top: 5px;
  line-height: 2em;
  -webkit-animation-name: HideList;
	animation-name: HideList;
  -webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
	animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box-option {
  display: block;
  background-color: #fff;
}
.select-box-option:hover, .select-box-option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
		transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
		transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
		transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
		transform: scaleY(0);
  }
}
