
$themes: (
  light: (
    primaryBgColor: #FFFFFF,
    primaryBgActiveColor: #EFF4F0,
    primaryColor: #373C3F,
    secondaryBgColor: #EFF4F0,
    secondaryBgActiveColor: #FFFFFF,
    secondaryColor: #A3A7A8,
    
    inputboxBgColor: #EFF4F0,
    inputboxTextColor: #A3A7A8,
    inputboxBorderColor: #868A8D,
    receiveMsgBgColor: #95D8EB,
    sendMsgBgColor: #8BD9C7,
    overlayColor: rgba(239, 244, 240, .5),
    
    myMessageboxBgColor: #8BD9C77A,
    othersMessageboxBgColor: #95D8EB7A,
  ),
  dark: (
    primaryBgColor: #262C34,
    primaryBgActiveColor: #20252C,
    primaryColor: #FFFFFF,
    secondaryBgColor: #262C34,
    secondaryBgActiveColor: #20252C,
    secondaryColor: #BDBDBD,
    
    inputboxBgColor: #1B1F25,
    inputboxTextColor: #FFFFFF,
    inputboxBorderColor: #FFFFFF,
    receiveMsgBgColor: #95D8EB,
    sendMsgBgColor: #8BD9C7,
    overlayColor: rgba(239, 244, 240, .5),
    
    myMessageboxBgColor: #8BD9C77A,
    othersMessageboxBgColor: #95D8EB7A,
  ),
);

$colors : (
  blueColor: #1592E5,
  blackColor: #000000,
  lightBlueColor: #3ECCFA,
  greenColor: #00D331,
  greyColor: #BDBDBD,
  pinkColor: #F75995,
  darkPinkColor: #F75995,
  whiteColor: #FFFFFF,
  yellowColor: #F2C52E,
  
  primaryGradientStartColor: #6454F0,
  primaryGradientEndColor: #6EE2F5,
  secondaryGradientStartColor: #8441A4,
  secondaryGradientEndColor: #FF5B94,
);

@mixin themify() {
  @each $theme, $map in $themes {

    .#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), $key);
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@function color($key) {
  @return map-get($colors, '#{$key}Color');
}